@use "variables";
@use "mixins";

// ! Styles Head

.head {
  color: variables.$white-200;

  &__banner {
    background-image: url("../../images/banner.jpg");
    background-repeat: no-repeat;
    background-size: 180%;
    background-attachment: fixed;
    background-position: center;

    height: 90vh;
    width: 100%;

    transition: 0.5s;
    @include mixins.flex-center;
    flex-direction: column;

    h1 {
      font-size: 2.5rem;
      font-weight: 600;
      transition: 0.6s;
    }

    span {
      transition: 0.6s;
      font-size: 1.1rem;
    }

    hr {
      border-width: 5px;
      border-style: solid;
      border-color: variables.$gray-400;
      width: 5rem;
      transition: 0.6s;
    }
  }
}
