@use "variables";
@use "mixins";

//! Styles Navbar

.navbar {
  display: flex;
  justify-content: space-around;

  height: 5rem;
  padding: 0.5rem;

  background-color: variables.$gray-400;

  &__brand {
    display: flex;
    font-size: 2rem;

    margin-block: 0.5rem;

    a {
      color: variables.$white-200;
    }
  }

  &__items {
    height: 100%;
    @include mixins.flex-center;
    gap: 0.4rem;

    li {
      border: 1px solid transparent;
      font-size: 1.1rem;

      a {
        color: variables.$white-200;

        transition: all 0.2s ease-in;

        &:hover {
          border: 1px solid variables.$red-300;
          border-radius: 0.45rem;
          color: variables.$red-300;
          padding: 0.2rem 0.6rem;
        }
      }
    }
  }
}
