//! Variables

//* Colors */
$blue-100: #bad7e9;
$blue-400: #2b3467;

$red-300: #eb455f;

$gray-400: #18122b;

$white-200: #fcffe7;

$purple-400: #393053;

$black-100: #000000;
$black-shadow: rgba(0, 0, 0, 0.3);

//*  */

$container-width: 1200px;
